.checkout {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 0.5%;
  padding: 20px;
  background-color: white;
  height: max-content;
  margin-top: 4%;

  &__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
  }

  &__left {
    margin: 10px;
    height: 100%;
  }

  &__productsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  &__right {
    right: 1%;
    width: 18%;
    position: fixed;
    height: 100%;
    margin: 10px 0px 0px;
  }

  &__ad {
    width: 100%;
    margin-bottom: 20px;
    height: 240px;
  }
}

@media screen and (max-width: 1024px) {
  .checkout {
    padding: 0;

    &__left {
      margin: 5% 0 0;
    }
    &__right {
      right: 0;
      width: 20%;
      margin: 15px 0 0;
    }
  }
}
