.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;;

    padding: 10px;
    background-color: #13131313;
    border:1px solid #dddddd;
    border-radius: 3px;
&__gift{
    display: flex;
    align-items: center;
}
button{
    width: 100%;
    margin:0 auto;
    background-color:  #28a746ad;
    border:1px solid;
    margin-top: 10px;
    border-color: #28a745ad #28a745 #28a745;
    color:#111
}

}

